body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}
*{
    font-family: century gothic;
}
#navx{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:lightblue;
    width: 260px;
    height: 100%;
    z-index: 999;
}
.listx{
    margin: 0px;
    padding: 0px;
}
.listx li{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #222222;
    text-indent: 10px;
    font-weight:bold;
    color: darkblue; 
    cursor: pointer;
}
.listx li:hover{ 
    border-bottom-color: blue;
}
.listx li:first-child{
    background-color: dodgerblue;
    text-align: center; 
    font-size: 1.8em;
    color: white;
    font-weight: bolder;
    pointer-events: none;
}
.listx li:last-child{
    display: none;
}
#menux{
    width: 60px;
    height: 60px;
    border-radius:100%;
    position: fixed; 
    bottom: 50px;
    left: 30px;
    background-color: orange;
    box-shadow: 2px 2px 4px black;
    border-style: none;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    opacity: 0.5;
    cursor: pointer;
    display: none; 
}
#menux:hover{
    transition: 1s;
    opacity: 1;
}
*:active{
    outline-style: none !important; 
}

#contx{
     
    position: fixed;
    top: 0px;
    height: 100%;
    right:0px;
    overflow-y: auto;
}
@media screen and (max-width:900px){
    
    #menux{
        display: block;
    }
    #navx{
        transition: 1s;
        display: none; 
        transform: translateX(-260px);
    }
     
    .listx li:last-child{
        display: list-item;
    }
    #contx{
        left: 0px;
        width: 100% !important;
    }
}
.activex{
    background-color: greenyellow;
    color: white !important;
    background-color: lightblue !important;
    color: #222222;
    border-right-style: solid;
    border-right-color: darkblue !important;
    border-right-width: 2px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    pointer-events: none;
}
.actt{
    width:150px;
    
    text-align: center; 
}
.actt a{
    cursor: pointer;
    font-weight: bold;
}
.actt a:first-child{
    color: dodgerblue;
}
.actt a:last-child{
    color: crimson;
}
#contx{ 
    position: fixed;
    top: 0px;
    height: 100%;
    right:0px;
}
@media screen and (max-width:900px){
    
    #menux{
        display: block;
    }
    #navx{
        transition: 1s;
        display: none; 
        transform: translateX(-260px);
    }
     
    .listx li:last-child{
        display: list-item;
    }
    #contx{
        left: 0px;
        width: 100% !important;
    }
}#contx{ 
    position: fixed;
    top: 0px;
    height: 100%;
    right:0px; 
}
@media screen and (max-width:900px){
    
    #menux{
        display: block;
    }
    #navx{
        transition: 1s;
        display: none; 
        transform: translateX(-260px);
    }
     
    .listx li:last-child{
        display: list-item;
    }
    #contx{
        left: 0px;
        width: 100% !important;
    }
}
#dash{
    list-style: none;
    padding: 0px;
    color:white !important;
    text-align: center;
}
#dash li{
    display: inline-block;
    width: 300px;
    height: 150px;
    /* background-color: crimson;   */
}

#print{
    list-style: none;
    padding: 0px;
    color:white !important; 
    text-align: center;
}
#print li{
    display: inline-block; 
    padding: 10px;
    margin-bottom: 10px;
    width: 402px;
    font-size: 1.1em;
    font-weight: bolder;
    background-color: orangered;
    cursor: pointer;
}
@media screen and (max-width:1200px){
    #dash li{
        width: 49%;
    }
}
.head_{
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    background-color: firebrick;
    color: white;
} 
#graph{
    width: 500px; 
    margin-left: 10px;
    margin: auto;
}
#graph ul{
    
    list-style: none;
    padding: 0px;
    text-align: center;
}
#graph li{ 
    width:100%;
    display: block;
    margin-top: 10px;
    height: 80px; 
    color: white;
    text-shadow: 1px 1px 3px black;
}
.headz{ 
    background-color:grey;
}
#don{
    transition: 1s;
}

.card {
    margin: 6px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 20%);
}

.card-title {
    margin: 0;
    padding: 12px 0;
}

.donation-card {
    border-left: 4px solid green;
}

.donation-title {
    color: green;
}

.request-card {
    border-left: 4px solid gold;
}

.request-title {
    color: orange;
}

.donors-card {
    border-left: 4px solid lightblue;
}

.donors-title {
    color:lightblue;
}

.bene-card {
    border-left: 4px solid crimson;
}

.bene-title {
    color: crimson;
}